#navbar{
    color: white;
}

img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#fixed-bg {
    background-image: url("../../assets/imgs/bg.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

