<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <div><img src="../../assets/imgs/logo.svg" alt="" srcset=""></div>
      <a class="navbar-brand" [routerLink]="['/']" id="navbar">Tarea 3</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/']" id="navbar">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/form']" id="navbar">Contacto</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid" id="fixed-bg"></div>
  
